header{
    background-color: #ffcba3;
    grid-area: header;
}
aside{
    background-color: rgba(132, 207, 255, 0.45);
    /*width: 250px;*/
    /*height: 250px;*/
    grid-area: aside;
}
main{
    background-color: rgba(0, 213, 213, 0.19);
    grid-area:main;
}
footer{
    background-color: rgba(255, 127, 80, 0.76);
    grid-area: footer;
}

#grid{
    display: grid;
    grid-template-areas:
        'header header'
        'aside main'
        'footer footer';
    grid-template-columns: 200px 1300px;
}

@media sreen and (max-width:992px){
    #grid{
        grid-template-areas:
                'header header'
                'aside main'
                'footer footer';
    }
}

body{
    display: flex;
    justify-content: center;
}

